main.Main#Main
  .Main-container
    h1.Title-tienda Nuestros Productos
    .Form-box
      .Box-search
        input(type="search" placeholder="Buscar")
        button(type="submit") Buscar
      .Box-selection
        select
          option Todos los productores
          option Productor de Calera
          option Productor de Cabildo
          option Productor de La Cruz
          option Productor de Hijuelas
          option Productor de Quillota
    .Tienda
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
      .Tienda-producto
        .Tienda-producto-img
          img(src="img/producto1.jpg")
        .Tienda-producto-categoria
          h4 Palta Hass de Cabildo
        .Tienda-producto-ranking
          .Ranking
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
            i.fas.fa-star
        .Tienda-producto-precio
          p $2000 #[span Kg]
        .Tienda-producto-btn
          button.btn-comprar Comprar
    .Paginacion
      i.fas.fa-chevron-left
      p 1
      p 2
      p 3
      i.fas.fa-chevron-right
