main.Main#Main
  .Banner-inicio
    p Transporte de palta hass del campo a la ciudad #[span sin intermediarios]
    p Uniendo a los grandes productores con las pymes chilenas
  .Main-container.Container-inicio
    .Box-search
      input(type="search" placeholder="Buscar")
      button(type="submit") Buscar
    section.Productores
      .Productor
        .Productor-img
          img(src="img/Pcalera.jpg")
        .Productor-text
          h3 Productor de Calera
          button Ver Productos
      .Productor
        .Productor-img
          img(src="img/Pcabildo.jpg")
        .Productor-text
          h3 Productor de Cabildo
          button Ver Productos
      .Productor
        .Productor-img
          img(src="img/Placruz.jpg")
        .Productor-text
          h3 Productor de La Cruz
          button Ver Productos
      .Productor
        .Productor-img
          img(src="img/Phijuelas.jpg")
        .Productor-text
          h3 Productor de Hijuelas
          button Ver Productos
      .Productor
        .Productor-img
          img(src="img/Pquillota.jpg")
        .Productor-text
          h3 Productor de Quillota
          button Ver Productos
