main.Main#Main
  .Main-container
    .Estilos
      section.Guia-colores
        .Guia-colores-item
        .Guia-colores-item
        .Guia-colores-item
        .Guia-colores-item
      section.Guia-fuentes
        .Guia-titulos
          h1 Titulos Principal
          h2 Titulos Secundario
          h3 Sub Titulo
        .Guia-parrafos
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sit maiores dicta aperiam dolor neque soluta quisquam tempore reiciendis delectus alias, unde aut numquam nulla cumque, incidunt, et inventore. Numquam.
      section.Guia-iconos
      section.Guia-botones
      section.Guia-tarjetas
      section.Guia-formularios
