main.Main#Main.Fondo-paltas
  .Main-container
    .Estilos
      .Estilos-item
        h2 Paleta de Colores
        section.Guia-colores
          .Guia-colores-item
            h3 Primarios
            .Primarios
              .Primarios-item
                p #337752
              .Primarios-item
                p #d7c04c
              .Primarios-item
                p #79950e
              .Primarios-item
                p #6e5247
          .Guia-colores-item
            h3 Secundarios
            .Secundarios
              .Secundarios-item
                p #1b4532
              .Secundarios-item
                p #d3c558
              .Secundarios-item
                p #83aa76
          .Guia-colores-item
            h3 Eventos y textos
            .Color-eventos
              .Color-eventos-item
                p #ca3f2f
              .Color-eventos-item
                p #869a9c
              .Color-eventos-item
                p #1b1b1c
              .Color-eventos-item
                p #e9e7dc
              .Color-eventos-item
                p #fc7405
      .Estilos-item
        h2 Tipografía
        section.Guia-fuentes
          .Fuentes
            h3 Fuentes
            p Fuente principal: Work Sans
            p Fuente secundaria: Raleway
          .Guia-titulos
            h3 Titulos
            p Titulo Principal
            p Titulo Secundario
            p Sub Titulo
          .Guia-parrafos
            h3 Parrafos
            p.Parrafo Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus sit maiores dicta aperiam dolor neque soluta quisquam tempore reiciendis delectus alias, unde aut numquam nulla cumque, incidunt, et inventore. Numquam.
      .Estilos-item
        h2 Iconos
        section.Guia-iconos
          i.fab.fa-twitter
          i.far.fa-paper-plane
          i.fab.fa-whatsapp
          i.fab.fa-facebook-f
          i.fab.fa-instagram
      .Estilos-item
        h2 Botones
        section.Guia-botones
          button(type="text") Enviar
          button(type="text") Ver más
          button(type="text") Comprar
          button(type="text") Cerrar
      .Estilos-item
        h2 Tarjetas
        section.Guia-tarjetas
          h3.Guia-tarjetas-title Tarjeta Productor
          .Productor
            .Productor-img
              img(src="img/Pcalera.jpg")
            .Productor-text
              h3 Productor de Calera
              button Ver Productos
          h3.Guia-tarjetas-title Tarjeta Producto
          .Producto
            .Producto-img
              img(src="img/producto1.jpg")
            .Producto-text
              p Descripción breve del producto
              input(type="number" value="1" min="1" max="10" step="1")
              button Comprar
      .Estilos-item
        h2 Formularios
        section.Guia-formularios
          .Box-search
            input(type="search" placeholder="Buscar")
            button(type="submit") Buscar
