main.Main#Main
  .Main-container
    .Banner-inicio
      h2 Venta de Paltas Hass por mayor
    .Box-search
      input(type="search" placeholder="Buscar")
      button(type="submit") Buscar
    section.Productores
      .Productor
        .Productor-img
          img(src="img/Pcalera.jpg")
        .Productor-text
          h3 Productor de Calera
          button Ver Productos
      .Productor
        .Productor-img
          img(src="img/Pcabildo.jpg")
        .Productor-text
          h3 Productor de Cabildo
          button Ver Productos
      .Productor
        .Productor-img
          img(src="img/Placruz.jpg")
        .Productor-text
          h3 Productor de La Cruz
          button Ver Productos
      .Productor
        .Productor-img
          img(src="img/Phijuelas.jpg")
        .Productor-text
          h3 Productor de Hijuelas
          button Ver Productos
      .Productor
        .Productor-img
          img(src="img/Pquillota.jpg")
        .Productor-text
          h3 Productor de Quillota
          button Ver Productos
