.Header{
  position: relative;
  // top: 0;
  // left: 0;
  z-index: capa(capa10);
  width: 100%;
  height: $altura-header;
  line-height: $altura-header;
  // border-bottom: 1px solid white;
  &:before{
    content: "";
    position: absolute;
    background: white;
    width: 80%;
    height: 0;
    left: 10%;
    right: 10%;
    bottom: 0;
    @include mq(mdl){
      height: 1px;
    }
  }
  @include mq(mdl){
    padding: 0 10%;
    margin: auto;
  }
  &-container{
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    @include mq(lgs){
      display: flex;
    }
  }
}

.Header-active{
  background: $degradado-header;
  &:before{
    height: 0;
  }
}

.Logo{
  // border: 1px solid green;
  position: absolute;
  z-index: capa(capa1);
  @include mq(mdl){
    position: static;
    width: 50%;
  }
  & a{
    font-size: 2rem;
    text-decoration: none;
  }
  & img{
    // padding: .5rem;
    width: auto;
    height: $altura-header;
    @include mq(lgs){
      width: 15%;
      height: calc($altura-header - 1rem);
      margin: 0 auto .5rem;
    }
    // @include mq(lgm){
    //   width: 27%;
    //   height: auto;
    // }
    // &:hover{
    //   box-shadow: $shadow-flat;
    // }
  }
}

.Titulo{
  position: absolute;
  left: 25%;
  color: white;
  // text-transform: uppercase;
  letter-spacing: .1rem;
  @include mq(mdl){
    left: 10%;
  }
}
.hamburger{
  &:focus{
    outline: 0;
    border: 0;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: white;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after{
  background-color: white;
}



.Panel{
  position: fixed;
  z-index: capa(capa9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  transition: transform .5s ease;
  // De arriba
  // transform: translate(0, -100%);
  // // De la izquierda
  // transform: translate(-100%, 0);
  // // De abajo
  // transform: translate(0, 100%);
  // De la derecha
  transform: translate(100%, 0);
  @include mq(lgs){
    position: static;
    width: 60%;
    display: flex;
    overflow-y: visible;
    background-color: transparent;
    transform: translate(0,0);
  }
  &.is-active{
    transform: translate(0,0);
  }
  &-btn{
    position: absolute;
    z-index: capa(capa10);
    top: -.5rem;
    right: 0;
    @include mq(lgs){
      display: none;
    }
  }
}

.Menu{
  margin: 0 auto;
  padding-top: $altura-header;
  text-align: center;
  height: 100%;
  background: color(secondary);
  @include mq(lgs){
    width: 100%;
    padding-top: 0;
    height: $altura-header;
    background: transparent;
  }
  & ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    @include mq(lgs){
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  & li{
    margin-left: 0;
    @include mq(lgs){
      margin-left: .5rem;
    }
  }
  & a{
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
    @include mq(lgs){
      padding: 0 .5rem;
      font-size: 1rem;
      // border: 1px solid red;
    }
    @include mq(lgm){
      font-size: 1.3rem;
    }
    &:hover{
      color: color(secondary);
    }
  }
}
