//- Variables
-let titulo = "Paltolim | Venta de Paltas por mayor";
-let url = "http://localhost:3000/";
//- -let url = "https://paltolim.cl/";
-let descripcion = "Descripción breve";
//- -let fuentes = "https://fonts.googleapis.com/css?family=Kurale|Open+Sans";
-let fuentes = "https://fonts.googleapis.com/css?family=Raleway|Work+Sans";
-let iconos = "https://use.fontawesome.com/releases/v5.7.2/css/all.css";
-let hamburguesa = "https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css";

-
  let link = {
    inicio: url,
    tienda: url + "tienda.html",
    estilos: url + "estilos.html"
  }

