footer.Footer
  .Footer-entradas
    h3.Footer-entradas-title Últimas Entradas
    .Footer-entradas-container
      .Footer-entrada
        .Footer-entrada-img
          img(src="img/entrada1.jpg", alt="Importancia de la Palta")
        .Footer-entrada-text
          h4 23 Abril, 2019
          p Propiedades de la Palta
      .Footer-entrada
        .Footer-entrada-img
          img(src="img/entrada2.jpg", alt="Importancia de la Palta")
        .Footer-entrada-text
          h4 12 Mayo, 2019
          p Recetas con Palta
  .Footer-sociales
  .Footer-contacto
