footer.Footer
  .Footer-entradas
    h3.Footer-title Últimas Entradas
    .Footer-entradas-container
      .Footer-entrada
        .Footer-entrada-img
          img(src="img/entrada1.jpg", alt="Importancia de la Palta")
        .Footer-entrada-text
          h4 23 Abril, 2019
          p Propiedades de la Palta
      .Footer-entrada
        .Footer-entrada-img
          img(src="img/entrada2.jpg", alt="Importancia de la Palta")
        .Footer-entrada-text
          h4 12 Mayo, 2019
          p Recetas con Palta
  .Footer-sociales
    h3.Footer-title Síguenos
    .Footer-sociales-links
      .Footer-sociales-links-item
        a(href="https://www.facebook.com/Paltolim/").fab.fa-facebook-f
        p Facebook
      .Footer-sociales-links-item
        a(href="https://www.instagram.com/?hl=es-la").fab.fa-instagram
        p Instagram
      .Footer-sociales-links-item
        a(href="https://twitter.com/?lang=es").fab.fa-twitter
        p Twitter
  .Footer-contacto
    h3.Footer-title Contacto
    .Footer-contacto-content
      .Footer-contacto-content-item
        i.fab.fa-whatsapp
        p +56 9 7790 9409
      .Footer-contacto-content-item
        i.far.fa-paper-plane
        p contacto@paltolim.cl
