header.Header#Header
  section.Header-container
    div.Logo
      a(href=link.inicio)
        img(src="img/logo.png", alt="Logo-paltolim")
    .Titulo
      h2 Paltolim
    button(type="button" class="Panel-btn hamburger hamburger--elastic")
      span.hamburger-box
        span.hamburger-inner
    section.Panel
      nav.Menu
        ul
          li
            a(href=link.inicio).Menu-link Inicio
          li
            a(href=link.tienda).Menu-link Tienda
          li
            a(href=link.estilos).Menu-link Estilos
