.Contador-content{
  width: 50%;
  margin: auto;
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  &-item{
    border: 1px solid blue;
    justify-self: center;
    text-align: center;
    width: 100px;
    padding: .5rem 0;
    &-number{
      font-size: 2rem;
    }
  }
}
