.Masonry-layout{
  --columns: 1;
  --gap: 2rem;
  $columns: 4;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
  @for $i from 1 through $columns{
    &.columns-#{$i}{
      --columns: #{$i};
    }
  }
  &-item{
    margin-bottom: var(--gap);
    & img{
      max-width: 100%;
      display: block;
    }
  }
}
