.Banner-inicio{
  margin-top: -5rem;
  padding: 7rem 0;
  background-image: img('banner-inicio.jpg');
  background-position: center center;
  position: relative;
  z-index: capa(capa1);
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: color(primary);
    opacity: .7;
  }
  & p{
    position: absolute;
    width: 95%;
    margin: auto;
    right: 0;
    left: 0;
    top: calc(50% - 1.5rem);
    font-size: 1.3rem;
    // border: 1px solid red;
    text-align: center;
    color: white;
    z-index: capa(capa2);
    @include mq(mdl){
      font-size: 2rem;
      width: 57%;
    }
    & span{
      color: color(secondary);
    }
  }
  & p:nth-of-type(2){
    top: calc(50% + 3rem);
    font-size: .9rem;
    font-family: $fuente-secundaria;
    width: 80%;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    color: color(satin);
    @include mq(mdl){
      font-size: 1.2rem;
      top: calc(50% + 4rem);
    }
  }
}

.Box-search{
  display: flex;
  // align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  @include mq(mdl){
    padding-bottom: 2rem;
  }
  & input{
    font-family: $fuente-secundaria;
    border-color: color(secondary);
    border-radius: 1.5rem 0 0 1.5rem;
    padding-left: 1.5rem;
    outline: none;
    border-right-color: transparent;
  }
  & button{
    display: block;
    line-height: 3;
    background-color: color(success);
    color: color(satin);
    padding: 0 1.5rem;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    outline: none;
    transition: background-color .5s ease;
    &:hover{
      background-color: darken(color(success),5);
    }
    &:active{
      transform: scale(.95);
    }
  }
}

.Productores{
  // border: 2px solid red;
  display: grid;
  grid-template-columns: 1fr;
  // grid-gap: 1rem;
  // padding-bottom: 1rem;
  @include mq(mdl){
    grid-template-columns: 1fr 1fr 1fr;
    // grid-gap: 2rem;
  }
}

.Productor{
  // border: 2px solid pink;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  &-img{
    grid-column: 1;
    grid-row: 1;
    position: relative;
    &:before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: color(everglade);
      opacity: .6;
      position: absolute;
    }
    & img{
      display: block;
    }
  }
  &-text{
    // border: 2px solid blue;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
    // line-height: 5rem;
    align-self: center;
    color: color(satin);
    position: relative;
    z-index: capa(capa1);
    & h3{
      margin-bottom: 3rem;
      letter-spacing: 1px;
      // font-weight: 600;
    }
    & button{
      // display: block;
      line-height: 2.6rem;
      background-color: color(secondary);
      color: color(satin);
      padding: 0 1.3rem;
      border-radius: 1.3rem;
      letter-spacing: 1px;
      // text-transform: uppercase;
      border: 1px solid color(secondary);
      outline: none;
      transition: background-color .5s ease, color .5s ease;
      &:hover{
        background-color: transparent;
        color: color(secondary);
      }
      &:active{
        transform: scale(.95);
      }
    }
  }
}

.Container-inicio{
  margin: 1rem auto;
  // border: 2px solid red;
  @include mq(mdl){
    margin: 2rem auto;
  }
}
